@page
@model EnvVarsModel
@{
    ViewData["Title"] = "EnvironmentVariables";
}

<h1>Environment Variables</h1>

@if (Model.EnvironmentVariables != null)
{
    <div align="left">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var envVar in Model.EnvironmentVariables)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => envVar.Key)</td>
                        <td>@Html.DisplayFor(modelItem => envVar.Value)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}